{% extends 'base.html' %}
{%- set is_chap = 1 -%}
{%- set has_code = 1 -%}
{%- set html_title = '雲端資料庫' -%}
{%- set en_title = 'Firebase' -%}
{%- set zh_title = '雲端資料庫' -%}

{% block menu %}
                <li class="nav-item"><a class="nav-link" href="#sec01">Firebase</a></li>
                <li class="nav-item"><a class="nav-link" href="#sec02">基礎程式</a></li>
                <li class="nav-item"><a class="nav-link" href="#sec03">開發要領</a></li>
                <li class="nav-item"><a class="nav-link" href="#sec04">資料庫類別</a></li>
                <li class="nav-item"><a class="nav-link" href="#sec05">專案程式</a></li>
{% endblock %}

{% block content %}
        <div id="sec00"></div>
        <section class="section-chapter">
            <h2 class="text-danger">{{ zh_title }}</h2>
            <hr>
        </section>

        <div id="sec01" class="section-divider"></div>
        <section class="section-chapter">
            <h2 class="text-primary">Firebase 資料庫</h2>

            <div class="row">
                <div class="col-md-4 col-lg-3">
                    <a target="_blank" class="btn btn-lg btn-block btn-info" href="https://console.firebase.google.com/">Firebase 控制台</a>
                </div>
                <div class="col-md-4 col-lg-3">
                    <a target="_blank" class="btn btn-lg btn-block btn-info" href="https://firebase.google.com/docs/admin/setup">Documentation</a>
                </div>
            </div>

            <h4 class="text-success">新增專案資料庫</h4>
            <ol class="outline">
                <li>[你的 Firebase 專案] &#8680; [新增專案]</li>
                <li>[Realtime Database] &#8680; [建立資料庫] &#8680; [以鎖定模式啟動]</li>
                <li>[專案設定] &#8680; [服務帳戶] &#8680; [產生新的私密金鑰]</li>
            </ol>
        </section>

        <div id="sec02" class="section-divider"></div>
        <section class="section-chapter">
            <h2 class="text-primary">基礎程式</h2>

            <div class="row">
                <div class="col-md-4 col-lg-3">
                    <a target="_blank" class="btn btn-lg btn-block btn-info" href="https://pypi.org/project/firebase-admin/">firebase-admin</a>
                </div>
                <div class="col-md-4 col-lg-3">
                    <a target="_blank" class="btn btn-lg btn-block btn-info" href="https://firebase.google.com/docs/database/admin/save-data">Save Data</a>
                </div>
                <div class="col-md-4 col-lg-3">
                    <a target="_blank" class="btn btn-lg btn-block btn-info" href="https://firebase.google.com/docs/database/admin/retrieve-data">Retrieve Data</a>
                </div>
            </div>

            <h4>英檢專案基本設定</h4>
            <pre>
                <code class="python">
            import os
            import json
            import firebase_admin
            from firebase_admin import credentials
            from firebase_admin import db


            class GEPTDB():
                def __init__(self):
                    try:
                        cred = credentials.Certificate('pyone-firebase-adminsdk.json')
                        firebase_admin.initialize_app(cred,
                            {'databaseURL': 'https://pyone-firebase-default-rtdb.firebaseio.com/'})
                    except:
                        pass
                    self.ref = db.reference()

                def init_settings(self):
                    print('初始化所有設定，請稍候...')
                    ref_child = self.ref.child('gept-settings')
                    ref_child.set({
                        'multiple_choice':{
                            'typename': '選擇題',
                            'questions': 10,
                            'option': 4
                        },
                        'fill_in_the_blank':{
                            'typename': '填空題',
                            'questions': 10,
                            'option': 1
                        }
                    })
                    print('設定完畢！')
                    print()

                def show_settings(self):
                    ref_child = self.ref.child('gept-settings')
                    settings = ref_child.get()
                    divider = '-'*30
                    print(divider)
                    if isinstance(settings, dict):
                        json_settings = json.dumps(settings, sort_keys=True, indent=4)
                        print(json_settings)
                        print()

                        for typeid, ss in settings.items():
                            print('type:', typeid)
                            if isinstance(ss, dict):
                                for key, value in ss.items():
                                    print(' - {}: {}'.format(key, value))
                    print(divider)

                def modify_settings(self):
                    opt = input('a.選擇題  b.填空題  q.離開: ')[0].lower()
                    if opt == 'q':
                        return
                    elif opt == 'a':
                        typeid = 'multiple_choice'
                        typename = '選擇題'
                        questions = int(input('請輸入題數: '))
                        option = int(input('3.三選一 4.四選一 5.五選一: '))
                    elif opt == 'b':
                        typeid = 'fill_in_the_blank'
                        typename = '填空題'
                        questions = int(input('請輸入題數: '))
                        option = int(input('1.提示首字母 2.提示首尾字母: '))

                    ref_child = self.ref.child('gept-settings/' + typeid)
                    ref_child.set({'typename': typename, 'questions': questions, 'option': option})


            if __name__ == '__main__':
                gept_db = GEPTDB()
                gept_db.init_settings()

                while True:
                    opt = input('1.顯示設定  2.修改設定  0.離開: ')[0]
                    if opt == '0':
                        break
                    elif opt == '1':
                        gept_db.show_settings()
                    elif opt == '2':
                        gept_db.modify_settings()
                </code>
            </pre>
        </section>

        <div id="sec03" class="section-divider"></div>
        <section class="section-chapter">
            <h2 class="text-primary">開發要領</h2>

            <h4>【題型設定】功能開發</h4>

            <h5 class="text-success">設定 route <span class="text-danger">routes.py</span></h5>
            <pre>
                <code class="python">
            config.add_route('gept_word_sets', '/gept/gept-word-sets')
            config.add_route('gept_word_sets_save', '/gept_word_sets_save')
                </code>
            </pre>

            <h5 class="text-success">設計 jinja2 樣版 <span class="text-danger">gept-word-sets.jinja2</span></h5>
            <pre>
                <code class="python">
            略
                </code>
            </pre>

            <h5 class="text-success">撰寫前端 JS 程式 <span class="text-danger">gept-word-sets.js</span></h5>
            <pre>
                <code class="javascript">
            $(function(){
                $('#btnSave').on('click', function() {
                    var formData = {
                        'selOptFB': $('#selOpt-fill_in_the_blank').val(),
                        'selQnsFB': $('#selQns-fill_in_the_blank').val(),
                        'selOptMC': $('#selOpt-multiple_choice').val(),
                        'selQnsMC': $('#selQns-multiple_choice').val(),
                    };

                    $.ajax({'type': 'POST', 'data': formData, 'url': '/gept_word_sets_save',
                        beforeSend: function(){ $('#processing').removeClass('no-display'); },
                    })
                    .done(function(data, textStatus, jqXHR) {
                        var settings = data.gept_settings;
                        $('#set-fill_in_the_blank .dummy-opt').text(settings.fill_in_the_blank.option);
                        $('#set-fill_in_the_blank .dummy-qns').text(settings.fill_in_the_blank.questions);
                        $('#set-multiple_choice .dummy-opt').text(settings.multiple_choice.option);
                        $('#set-multiple_choice .dummy-qns').text(settings.multiple_choice.questions);
                        toastr.success('已更新題型設定');
                    })
                    .fail(function(jqXHR, textStatus, errorThrown) { jsfAlert(jqXHR.status); })
                    .always(function(){ $('#processing').addClass('no-display'); });
                });
            });
                </code>
            </pre>

            <h5 class="text-success">撰寫後端程式 <span class="text-danger">views.py</span></h5>
            <pre>
                <code class="python">
            @view_config(route_name='gept_word_sets', renderer='templates/gept/gept-word-sets.jinja2')
            @signin_required()
            def gept_word_sets_view(request):
                db = GEPTDB()
                gept_settings = db.get_settings()
                return {'gept_settings':gept_settings, 'type_options': db.type_options, 'type_questions':db.type_questions}
                </code>
            </pre>
            <pre>
                <code class="python">
            @view_config(route_name='gept_word_sets_save', renderer='json')
            @signin_required()
            def gept_word_sets_save_view(request):
                db = GEPTDB()
                new_sets = {
                    'selOptFB': int(request.POST['selOptFB']),
                    'selQnsFB': int(request.POST['selQnsFB']),
                    'selOptMC': int(request.POST['selOptMC']),
                    'selQnsMC': int(request.POST['selQnsMC']),
                }
                db.save_settings(**new_sets)
                gept_settings = db.get_settings()
                return {'gept_settings':gept_settings}
                </code>
            </pre>

            <h5 class="text-success">撰寫資料庫程式 <span class="text-danger">geptdb.py</span></h5>
            <pre>
                <code class="python">
            def get_any_list(self, list_name, is_show_type=0):
                ref_child = self.ref.child(list_name)
                jsondata = ref_child.get()
                if is_show_type == 1:
                    log.debug(type(jsondata))
                if isinstance(jsondata, dict) or isinstance(jsondata, list):
                    return jsondata
                else:
                    return {}

            def get_settings(self):
                return self.get_any_list('settings')
                </code>
            </pre>
            <pre>
                <code class="python">
            def save_settings(self, **new_sets):
                ref_child = self.ref.child('settings')
                ref_child.set({
                    'multiple_choice':{'typename':'選擇題', 'questions':new_sets['selQnsMC'], 'option':new_sets['selOptMC']},
                    'fill_in_the_blank':{'typename':'填空題', 'questions':new_sets['selQnsFB'], 'option':new_sets['selOptFB']}
                })
                </code>
            </pre>
        </section>

        <div id="sec04" class="section-divider"></div>
        <section class="section-chapter">
            <h2 class="text-primary">資料庫類別</h2>

            <h4>geptdb.py</h4>
            <pre>
                <code class="python">
            import os
            from pyramid.path import AssetResolver
            import firebase_admin
            from firebase_admin import credentials
            from firebase_admin import db
            from random import randint
            from datetime import datetime
            import logging

            log = logging.getLogger(__name__)

                </code>
            </pre>
            <pre>
                <code class="python">
            class GEPTDB():
                def __init__(self):
                    _where_keys = AssetResolver().resolve('micropyone:keys/').abspath()
                    if not len(firebase_admin._apps):
                        """
                        ValueError: The default Firebase app already exists.
                        This means you called initialize_app() more than once without providing an app name as the second argument.
                        In most cases you only need to call initialize_app() once.
                        But if you do want to initialize multiple apps, pass a second argument to initialize_app() to give each app a unique name.
                        """
                        cred = credentials.Certificate(os.path.join(_where_keys, 'serviceAccountKey.json'))
                        firebase_admin.initialize_app(cred, {'databaseURL': 'https://pyone-gept-firebase.firebaseio.com'})
                    self.ref = db.reference()

                    self.word_levels = {'w1':'初級', 'w2':'中級', 'w3':'高級'}
                    self.type_questions = (10, 20, 25, 50, 100, 200)
                    self.type_options = {'multiple_choice':{3:'三選一', 4:'四選一', 5:'五選一'},
                                         'fill_in_the_blank':{1:'提示首字母', 2:'提示首尾字母'}}

                def get_now(self):
                    now = datetime.now()
                    return now.strftime("%Y-%m-%d %H:%M:%S")

                def get_any_list(self, list_name, is_show_type=0):
                    ref_child = self.ref.child(list_name)
                    jsondata = ref_child.get()
                    if is_show_type == 1:
                        log.debug(type(jsondata))
                    if isinstance(jsondata, dict) or isinstance(jsondata, list):
                        return jsondata
                    else:
                        return {}

                def init_settings(self):
                    ref_child = self.ref.child('settings')
                    ref_child.set({
                        'multiple_choice':{'typename':'選擇題', 'questions':10, 'option':4},
                        'fill_in_the_blank':{'typename':'填空題', 'questions':10, 'option':1}
                    })

                def get_settings(self):
                    return self.get_any_list('settings')

                def save_settings(self, **new_sets):
                    ref_child = self.ref.child('settings')
                    ref_child.set({
                        'multiple_choice':{'typename':'選擇題', 'questions':new_sets['selQnsMC'], 'option':new_sets['selOptMC']},
                        'fill_in_the_blank':{'typename':'填空題', 'questions':new_sets['selQnsFB'], 'option':new_sets['selOptFB']}
                    })

                def get_test_id(self, i):
                    now = datetime.now()
                    return (now.strftime("%Y%m%d%H%M%S%f")[2:-4] + str(i+1).zfill(3))

                def get_test_args(self, req_post):
                    test_args = {
                        'wlevel':req_post['WordLevel'],
                        'type_id':req_post['TypeID'],
                        'test_id':req_post['TestID']
                    }
                    return test_args

                def reset_tests(self):
                    ref_child = self.ref.child('tests')
                    ref_child.set({})

                def get_tests(self):
                    return self.get_any_list('tests')

                def save_tests(self, wlevel, tests_num, list_words, settings, **dict_types):
                    if tests_num > 10:
                        tests_num = 10

                    # 新增填充測驗
                    for type_id, type_val in dict_types.items():
                        if type_val == 1:
                            dict_tests = {}
                            ref_child = self.ref.child('tests/{}/{}'.format(wlevel, type_id))
                            option = settings[type_id]['option']
                            questions = settings[type_id]['questions']

                            for i in range(tests_num):
                                test_id = self.get_test_id(i)
                                dict_tests[test_id] = []
                                for q in range(questions):
                                    dict_q = {'quid':q}
                                    # 設定題目
                                    if type_id == 'fill_in_the_blank':
                                        ex_word = list_words[0]
                                        del list_words[0]
                                        dict_q['ans'] = ex_word[1]
                                        dict_q['qhint'] = ex_word[2]

                                        dict_q['qtest'] = ex_word[1][0] + ' _'*(len(ex_word[1])-option)
                                        if option == 2:
                                            dict_q['qtest'] = dict_q['qtest'] + ' ' + ex_word[1][-1]

                                    elif type_id == 'multiple_choice':
                                        ex_words = list_words[:option]
                                        del list_words[:option]
                                        ans = randint(1, option)
                                        qwords = []
                                        for windex, word in enumerate(ex_words):
                                            if windex == ans-1:
                                                dict_q['ans'] = ans
                                                dict_q['qtest'] = word[2]
                                            qwords.append(word[1])
                                        dict_q['qwords'] = ','.join(qwords)

                                    # 新增題目
                                    dict_tests[test_id].append(dict_q)
                            ref_child.set(dict_tests)

                def read_test(self, **test_args):
                    return self.get_any_list('tests/{wlevel}/{type_id}/{test_id}'.format(**test_args))

                def get_examinees(self):
                    return self.get_any_list('examinees')

                def check_examinee(self, examinee_id, examinee_pw):
                    examinee = self.get_any_list('examinees/{}'.format(examinee_id))
                    if examinee == {} or examinee_id.strip() == '':
                        return False, {}
                    elif examinee_pw != examinee['password']:
                        return False, {}
                    else:
                        return True, examinee

                def save_examinee(self, **row):
                    examinee_data = list(row.values())
                    empty_cols = 0
                    # 所有欄位必填資料
                    for col in examinee_data:
                        if len(col.strip()) == 0:
                            empty_cols += 1
                    # 新增或更新考生資料
                    if empty_cols == 0:
                        ref_child = self.ref.child('examinees/'+row['txtAccount'])
                        ref_child.set({'account':row['txtAccount'], 'username':row['txtName'], 'password':row['txtPassword']})

                def drop_examinee(self, **row):
                    ref_child = self.ref.child('examinees/'+row['txtAccount'])
                    # 設空 {} 表示刪除
                    ref_child.set({})

                def save_score(self, examinee_id, score, **test_args):
                    ref_child = self.ref.child('scores/{}/{}'.format(examinee_id, test_args['test_id']))
                    ref_child.set({
                        'wlevel':test_args['wlevel'], 'type_id':test_args['type_id'], 'test_id':test_args['test_id'],
                        'score':score, 'test_time':self.get_now()
                    })

                def get_scores(self):
                    return self.get_any_list('scores')

                def get_score_examinee(self, examinee_id):
                    return self.get_any_list('scores/{}'.format(examinee_id))

                </code>
            </pre>

        </section>

        <div id="sec05" class="section-divider"></div>
        <section class="section-chapter">
            <h2 class="text-primary">專案程式</h2>

            <h4>views.py</h4>
            <pre>
                <code class="python">
            import os
            import random
            from pyramid.path import AssetResolver
            from pyramid.view import view_config, notfound_view_config
            from pyramid.response import Response
            from pyramid.httpexceptions import HTTPFound
            from datetime import date
            import urllib.request
            import xmltodict
            import json
            from .geptdb import GEPTDB
            import logging

            log = logging.getLogger(__name__)
            _where_static = AssetResolver().resolve('micropyone:static/').abspath()
            _where_templates = AssetResolver().resolve('micropyone:templates/').abspath()
            this_year = date.today().year
                </code>
            </pre>
            <pre>
                <code class="python">
            @view_config(route_name='gept_word_list', renderer='templates/gept/gept-word-list.jinja2')
            @signin_required()
            def gept_word_list_view(request):
                return {}

            @view_config(route_name='gept_word_list_json', renderer='json')
            def gept_word_list_json_view(request):
                # Public Access
                word_levels = ('w1', 'w2', 'w3')
                wlevel = request.matchdict['word_level']
                if wlevel in word_levels:
                    wlevel_index = word_levels.index(wlevel)
                    gept_word_list = open(os.path.join(_where_templates, 'ch-crawler/gept-word-list.json')).read()
                    json_data = json.loads(gept_word_list)
                    return {'jsonData':json_data[wlevel_index]}
                return {'jsonData':''}

            @view_config(route_name='gept_word_sets', renderer='templates/gept/gept-word-sets.jinja2')
            @signin_required()
            def gept_word_sets_view(request):
                db = GEPTDB()
                gept_settings = db.get_settings()
                return {'gept_settings':gept_settings, 'type_options':db.type_options, 'type_questions':db.type_questions}

            @view_config(route_name='gept_word_sets_save', renderer='json')
            @signin_required()
            def gept_word_sets_save_view(request):
                db = GEPTDB()
                new_sets = {
                    'selOptFB':int(request.POST['selOptFB']),
                    'selQnsFB':int(request.POST['selQnsFB']),
                    'selOptMC':int(request.POST['selOptMC']),
                    'selQnsMC':int(request.POST['selQnsMC']),
                }
                db.save_settings(**new_sets)
                gept_settings = db.get_settings()
                return {'gept_settings':gept_settings}

            @view_config(route_name='gept_word_tests', renderer='templates/gept/gept-word-tests.jinja2')
            @signin_required()
            def gept_word_tests_view(request):
                db = GEPTDB()
                gept_settings = db.get_settings()
                gept_examinees = db.get_examinees()
                return {'gept_settings':gept_settings, 'word_levels':db.word_levels,
                        'type_options':db.type_options, 'type_questions':db.type_questions}

            @view_config(route_name='gept_word_tests_save', renderer='json')
            @signin_required()
            def gept_word_tests_save_view(request):
                from random import shuffle
                db = GEPTDB()
                check_wlevel = (int(request.POST['chkW1']), int(request.POST['chkW2']), int(request.POST['chkW3']))
                word_levels = dict(zip(list(db.word_levels.keys()), check_wlevel))
                gept_word_list = open(os.path.join(_where_templates, 'ch-crawler/gept-word-list.json')).read()
                json_data = json.loads(gept_word_list)

                # 擷取題型設定
                settings = db.get_settings()
                # 重置測驗
                db.reset_tests()

                for wlevel_index, wlevel in enumerate(word_levels.keys()):
                    # 是否依級別設定測驗
                    if word_levels[wlevel] == 1:
                        list_words = []
                        for wl_words in json_data[wlevel_index]:
                            list_words.extend(wl_words['words'])
                        # 新增測驗
                        shuffle(list_words)
                        dict_types = {
                            'fill_in_the_blank':int(request.POST['chkFB']),
                            'multiple_choice':int(request.POST['chkMC'])
                        }
                        db.save_tests(wlevel, 3, list_words, settings, **dict_types)
                return {}

            @view_config(route_name='gept_word_tests_list', renderer='json')
            @signin_required()
            def gept_word_tests_list_view(request):
                db = GEPTDB()
                gept_tests = db.get_tests()
                for wlevel, types in gept_tests.items():
                    for type_name, test_body in types.items():
                        for test_id, questions in test_body.items():
                            # 清空題目內容
                            gept_tests[wlevel][type_name][test_id] = []
                return {'gept_tests':gept_tests}

            @view_config(route_name='gept_word_examinees', renderer='templates/gept/gept-word-examinees.jinja2')
            @signin_required()
            def gept_word_examinees_view(request):
                return {}

            @view_config(route_name='gept_word_examinees_save', renderer='json')
            @signin_required()
            def gept_word_examinees_save_view(request):
                db = GEPTDB()
                examinee = request.POST
                if examinee['act'] == 'Save':
                    db.save_examinee(**examinee)
                elif examinee['act'] == 'Drop':
                    db.drop_examinee(**examinee)
                gept_examinees = db.get_examinees()
                return {'gept_examinees':gept_examinees}

            @view_config(route_name='gept_word_scores', renderer='templates/gept/gept-word-scores.jinja2')
            @signin_required()
            def gept_word_scores_view(request):
                return {}

            @view_config(route_name='gept_word_sheets', renderer='templates/gept/gept-word-sheets.jinja2')
            @signin_required()
            def gept_word_sheets_view(request):
                db = GEPTDB()
                gept_examinees = db.get_examinees()
                accounts = list(gept_examinees.keys())
                # 亂數選取考生
                test_userna = random.choice(accounts)
                test_userpw = gept_examinees[test_userna]['password']
                return {'test_userna':test_userna, 'test_userpw':test_userpw}

            @view_config(route_name='gept_word_sheets_read', renderer='json')
            @signin_required()
            def gept_word_sheets_read_view(request):
                db = GEPTDB()
                test_args = db.get_test_args(request.POST)
                test_sheet = db.read_test(**test_args)
                return test_sheet

            @view_config(route_name='gept_word_sheets_score', renderer='json')
            @signin_required()
            def gept_word_sheets_score_view(request):
                db = GEPTDB()
                examinee_id = request.POST['ExamineeID']
                examinee_pw = request.POST['ExamineePW']
                ready_to_check, examinee_info = db.check_examinee(examinee_id, examinee_pw)
                # log.debug(request.POST)
                # log.debug(examinee_info)

                if ready_to_check:
                    test_args = db.get_test_args(request.POST)
                    test_sheet = db.read_test(**test_args)
                    test_sheet_count = len(test_sheet)
                    test_sheet_right = 0
                    for i, question in enumerate(test_sheet):
                        quid = 'q'+str(i)
                        if quid in request.POST:
                            if str(question['ans']) == request.POST[quid]:
                                # log.debug('{}={}'.format(str(question['ans']), request.POST[quid]))
                                test_sheet_right += 1
                    # 計算分數
                    test_sheet_score = int(100 / test_sheet_count * test_sheet_right)
                    # 記錄分數
                    db.save_score(examinee_id, test_sheet_score, **test_args)
                    # 成績列表
                    scores_list = db.get_score_examinee(examinee_id)
                else:
                    test_sheet_score = 0
                    scores_list = []

                return {'result':ready_to_check, 'score':test_sheet_score, 'scores_list':scores_list}

            @view_config(route_name='gept_word_scores_list_all', renderer='json')
            @signin_required()
            def gept_word_scores_list_all_view(request):
                db = GEPTDB()
                gept_scores = db.get_scores()
                return {'gept_scores':gept_scores}

            @view_config(route_name='gept_word_scores_list_examinee', renderer='json')
            @signin_required()
            def gept_word_scores_list_examinee_view(request):
                db = GEPTDB()
                examinee_id = request.POST['ExamineeID']
                examinee_pw = request.POST['ExamineePW']
                ready_to_check, examinee_info = db.check_examinee(examinee_id, examinee_pw)
                result = False
                scores_list = []

                if ready_to_check:
                    scores_list = db.get_score_examinee(examinee_id)
                    result = True
                return {'result':result, 'scores_list':scores_list}
                </code>
            </pre>
        </section>
{% endblock %}