{% extends 'base.html' %}
{%- set is_asec = 1 -%}
{%- set html_title = '高雄市文化遺產' -%}
{%- set en_title = 'Kaohsiung Heritage' -%}
{%- set zh_title = '高雄市文化遺產' -%}
{%- set jumbotron_class = 'jumbotron-light' -%}

{% block html_title %}{{ html_title }}{% endblock %}
{% block en_title %}{{ en_title }}{% endblock %}
{% block zh_title %}{{ zh_title }}{% endblock %}

{% block content %}
        <div class="section-divider"></div>
        <section>
            <div class="row">
                <div class="col-4">
                    <button class="btn btn-lg btn-primary" id="btnGetList">擷取資料</button>
                    &nbsp;&nbsp;
                    <span id="processing" class="processing no-display"> <img src="/static/img/preloader.gif"> </span>
                </div>
            </div>
            <hr>
            <div id="listData"> </div>
        </section>
{% endblock %}

{%- block menu -%}
                <li class="nav-item"><a class="nav-link" href="/opendata#sec09">Back</a></li>
{%- endblock -%}

{% block extra_js %}
    <script>
        $('#btnGetList').on('click', function() {
            $.ajax({'type': 'GET', 'url': '/opendata/heritage_list/3',
                beforeSend: function(){ $('#processing').removeClass('no-display'); },
            })
            .done(function(data, textStatus, jqXHR) {
                var items = [];
                $.each(data.jsonData, function(index, row) {
                    items.push('<h3>'+(index+1)+'. <span class="text-success">'+row.Heritage_title+'</span> <small class="text-info">'+row.Heritage_class+'</small></h3>');
                    // 將換行字元取代為 <br> 標籤
                    var strDesc = row.Heritage_desc.replace(/(?:\r\n|\r|\n)/g, '<br>');
                    items.push('<p class="text-muted">'+strDesc+'</p>');
                    var strTravel = row.Heritage_travel.replace(/(?:\r\n|\r|\n)/g, '<br>');
                    items.push('<p class="text-muted">'+strTravel+'</p>');
                    // 設定圖片
                    items.push('<div class="card-columns">');
                    row.Heritage_Image.forEach(function(element) {
                        items.push('<div class="card"><img src="'+element+'" class="card-img-top"></div>');
                    });
                    items.push('</div>');
                });

                $('#listData').html(items.join(''));
            })
            .fail(function(jqXHR, textStatus, errorThrown) { alertError(jqXHR.status); })
            .always(function(){ $('#processing').addClass('no-display'); });
        });
    </script>
{% endblock %}